.cv-main {
  border: 1px solid black;
  min-height: 1200px;

  .cv-content {
    padding: 2rem;
  }
  .cv-details {
    h1 {
      text-align: center;
    }
    .cv-contact {
      display: flex;
      justify-content: center;
      gap: 2rem;
    }
  }
}
