@import "bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  display: flex;
  flex: 1 0 auto;
}

.cv-editor {
  width: 40%;
  flex-grow: 1;
  background-color: lightblue;
}

.cv-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
  width: 50%;
  min-width: 600px;
  min-height: 800px;
  background-color: lightcoral;
  padding: 20px;
}

.cv {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  height: 100%;
  width: 70%;
  background-color: white;
}
